[Desktop Entry]
Name=FoxMes
Comment=New era of messaging
TryExec=FoxMes
Exec=FoxMes -- %U
Icon=ru.fxl.foxMes
Terminal=false
StartupWMClass=FoxMes
Type=Application
Categories=Chat;Network;InstantMessaging;Qt;
MimeType=x-scheme-handler/foxmes;
Keywords=foxmes;chat;im;messaging;messenger;
Actions=quit;
DBusActivatable=true
SingleMainWindow=true
X-GNOME-UsesNotifications=true
X-GNOME-SingleWindow=true

[Desktop Action quit]
Exec=FoxMes -quit
Name=Quit FoxMes
Icon=application-exit
